<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shipment</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class=container>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Transportation Adding</h1>
              <p class="lead">Fill form to add new Shipment file</p>
            </div>
        </div>


        <form th:action="@{/add}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Name</label>
                  <input type="text" class="form-control" name="sName" id="inputName" placeholder="Name">
                </div>
                <div class="form-group col-md-4">
                  <label>Status</label>
                  <input type="text" class="form-control" name="sStatus" id="inputStatus" placeholder="Status">
                </div>
                <div class="form-group col-md-4">
                    <label>Shipper Brand</label>
                    <input type="text" class="form-control" name="sShipBrand" id="inputBrand" placeholder="Personel or Company">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Start Destination</label>
                  <input type="text" class="form-control" name="sInitDest" id="inputInitDest" placeholder="Destination">
                </div>
                <div class="form-group col-md-6">
                  <label>Finish Destination</label>
                  <input type="text" class="form-control" name="sFinishDest" id="inputFinishDest" placeholder="Destination">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Start Date</label>
                  <input type="date" class="form-control" name="sInitDate" id="inputInitDate" >
                </div>
                <div class="form-group col-md-6">
                  <label>Finish Date</label>
                  <input type="date" class="form-control" name="sFinishDate" id="inputFinishDate">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Weight</label>
                    <input type="text" class="form-control" name="sWeight" id="inputWeight" placeholder="Weight">
                </div>
                <div class="form-group col-md-4">
                    <label>Ship Payment</label>
                    <input type="text" class="form-control" name="sPayment" id="inputShipPayment" placeholder="Payment">
                </div>
                <div class="form-group col-md-4">
                    <label>Total Payment</label>
                    <input type="text" class="form-control" name="sTotalPayment" id="inputTotalPayment" placeholder="Payment">
                </div>
            </div>
            <div class="form-row">
                <label>Description</label>
                <input type="text" class="form-control" name="sDesc" id="inputDesc" style="height: 80px;">
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>